


body {
    background-color: #121212; /* Dark background */
    color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container {
    text-align: center;
}
a {
    color: #f8f9fa; /* Light link color */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}



footer {
    background-color: #1f1f1f;
    color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}
a {
    /* Light link color */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}






.contact-info {
    color: #f8f9fa;
    border-left: 5px solid #0066cc;
    padding: 20px;
    max-width: 400px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.contact-info h2 {
    color: #0066cc;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
}
.contact-info p {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.contact-info i {
    margin-right: 10px;
    color: #0066cc;
    width: 20px;
    text-align: center;
}

.terms-and-conditions {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}
.terms-and-conditions h1 {
    color: #0066cc;
}
.terms-and-conditions h2 {
    color: #009933;
}
.terms-and-conditions .contact-info {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}


.container_card{
        width: 80%;
        max-width: 1200px;
        margin: 40px auto;
        padding: 20px;
        border: 1px solid #a10505; /* Light gray border */
        border-radius: 8px; /* Rounded corners */
        background-color: #fff; /* White background */
        color: #555; /* Gray text color */
        box-shadow: 0 4px 8px rgba(67, 207, 67, 0.1); /* Subtle shadow */
      }

      

 .container a{
    text-decoration: none;
 }     